<h4 style="margin-top: 15px">{{ title }}</h4>
<h5>Movie's details</h5>
<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" type="text" id="_id" value="{{ _id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="TitleInput">Title</label>
       <input class="u-full-width" type="text" id="Title" value="{{ title }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <label for="editionInput">Year</label>
       <input class="u-full-width" type="text" id="Year" value="{{ Year }}" readonly/>
    </div>
    <div class="six columns">
       <label for="DescriptionInput">Description</label>
       <input class="u-full-width" type="text" id="Description" value="{{ Description }}" readonly/>
    </div>
  </div>


</div>
  <div class="row">
    <div class="six columns">
       <label for=" authorInput">Director</label>
       <a href="https://pedantic-clarke-82b458.netlify.app/get/?id={{ _id }}">
         <input class="u-full-width" type="button" id=" director" value="{{ Director }}" readonly/>
       </a>
    </div>
    <div class="six columns">
       <label for="languageInput">Publisher</label>
       <a href="https://wizardly-austin-8d76ca.netlify.app/get/?id={{ _id }}">
         <input class="u-full-width" type="button" id="publisher" value="{{ Publisher }}" readonly/>
       </a>
    </div>
  </div>
</form>
